<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
    <div class="container mx-auto py-8">
        <div class="flex justify-end">
            <a class="bg-red-500 rounded-md px-3 py-2 text-sm " href="/logout">Logout</a>
        </div>
        <h5 class="mb-5">Edit your post</h5>
        <form action="/update/<%=post._id%>" method="post">
            <textarea placeholder="What's on your mind?" name="content" rows="3"
                class="w-[50%] bg-transparent block p-2 mb-4 outline-none border-[1.2px] border-zinc-700"><%= post.content%></textarea>
            <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                Update Post
            </button>
        </form>
    </div>
</body>

</html>